.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.box > div {
  width: min(100%, calc(100vw - 2rem));
}

.status {
  font-size: 10em;
  color: #333;
}

#status_par {
  margin: 0;
  max-width: 100%;
  white-space: nowrap;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
}

.debug {
  font-size: 0.8em;
  color: #666;
}
